html,
body {
    margin: 0;
    font-family: arial, sans-serif;
}

.container {
    background-color: mistyrose;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.header {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ebebeb;
}

.header-search {
    display: flex;
    padding: 20px 0px 0px 30px;
    align-items: center;
}

.header-search img {
    height: 30px;
    width: 92px;
    cursor: pointer;
}

.search-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background-color: white;
    min-width: 630px;
    height: 44px;
    border-radius: 24px;
    border-width: 0.5px;
    border-style: solid;
    border-color: lightgray;
    outline: none;
    margin: 0px 0px 0px 30px;
}

.search-box:hover {
    box-shadow: 0px 1px 5px lightgray;
}

.search-form {
    display: flex;
    width: 530px;
    height: 20px;
    font-size: 16px;
    border: 0px solid white;
    margin-left: 15px;
    outline: none;
}

.google-mic {
    margin: 2px 0px 0px 1px
}

.google-mic img {
    width: 30px;
    cursor: pointer;
}

.google-glass {
    margin: 2px 0px 0px 17px
}

.google-glass img {
    height: 22px;
    width: 24px;
    margin: 1px;
    cursor: pointer;
}

.google-login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 44px;
    width: 59%;
}

.apps {
    opacity: .55;
    padding-right: 15px;
    padding-top: 5px;
}

.apps img {
    width: 24px;
}

.apps:hover {
    opacity: 100;
}

.sign-in {
    border: none;
    font-weight: bold;
    outline: none;
    background-color: rgb(108, 108, 248);
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    color: white;
    font-size: 13px;
}

.sign-in a {
    text-decoration: none;
    color: white;
}

.sign-in a:hover {
    text-decoration: underline;
}

.navigation {
    width: 630px;
    margin-left: 155px;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
}

.header-nav-left {
    display: flex;
    flex-direction: row;
}

.header-nav-right {
    display: flex;
    flex-direction: row;
}

.nav {
    font-size: 13px;
    margin-top: 10px;
    padding: 14px 16px 14px 16px;
    color: #777 !important;
}

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto',arial,sans-serif;
    
    
}

.results {
    color: #808080;
    font-size: small;
    margin: 15px 0px 22px 165px;
}

.search {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 580px;
    margin-left: 170px;
    margin-bottom: 27px;
}

.title {
    font-size: 18px;
    color: #1a0dab !important;
    text-decoration: none;
}

.title:hover {
    text-decoration: underline;
}

.cache {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link {
    font-size: 14px;
    padding-top: 1px;
    font-family: 'Roboto',arial,sans-serif;
    color: #006621 !important;
    text-decoration: none;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #006621;
    margin-left: 5px;
    cursor: pointer;
}